/* -Basic- */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Monomaniac+One&display=swap');
:root{
    /*Colores de prueba
    Background: lightgreen, rgb(103, 88, 88) gris oscuro,  
    Color: rgb(255, 85, 67) salmon oscuro;
    */
    --colorbackground: lightgray;
    --colortexto: rgb(55, 55, 55);
    --colortexto2:white;
}
*{
    margin: 0;
    padding: 0;

}
body{
    background-color: var(--colorbackground);
    margin: 10px auto;
    width: 80%;
}


/* -Header- */
header{
    display: flex;
    flex-direction: column;
    
    /*Parte Decoracion*/
    color: var(--colortexto);
    text-align: center;
    font-family: 'Monomaniac One', sans-serif;
}
#HeaderP1{
    /*Parte Flex*/
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
#CNombre h1{
    font-size: 5vw;
}
#FotoPerfil{
    border: solid var(--colortexto) .2vw;
    border-radius: 50%;
    height: 4cm;
    width: 4cm;
}
#HeaderP2{
    /* Parte Flex */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
#HeaderP2 p{
    font-size: 1.5vw;
}
#HeaderP2 hr{
    width: 25vw;
    height: 2px;
    background-color:var(--colortexto);
    border: none;

}
#PerInfo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 5px;
    flex-wrap: wrap;
}
#PerInfo a{
    color:var(--colortexto);
    text-decoration: none;
}
#PerInfo img{
    width: 35px;
    height: 35px;
    min-width: 35px;
    min-height: 35px;
}

/* -Main- */
main{
    display: flex;
    margin-top: 20px;
    font-family: 'Josefin Sans', sans-serif;
}
aside{
    width: 35vw;
    background-color: var(--colortexto);
    border-radius: 10px 0 0 10px;
    color: var(--colortexto2);
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

article{
    border: solid .2vw var(--colortexto);
    border-radius: 0 10px 10px 0;
    width: 65vw;
    color: var(--colortexto);
    padding: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}
article h2,p, aside h2,p{
    margin-top: 10px;
}
article p{
    font-weight: bold;
}
/*-Textos-*/
#t1::before{
    content: "- Centro De Educación Infantil -\ATirso De Molina\APracticas del grado medio como el\ATecnico Informático del centro para\A ayudar y reparar.";
    white-space: pre;
}
#t2::before{
    content: "- Operario De Almacen -\A Logifashion\A Manipulacion de cajas\A de empresas de ropa en almacen.";
    white-space: pre;
}
#t3::before{
    content: "- Educación Secundaria -\A IES Maria Pacheco\AToledo\A";
    white-space: pre;
}
#t4::before{
    content: "- Formacion Profesional -\A Grado Medio\A Miicroinformática y redes\AIES Azarquiel\AToledo\A";
    white-space: pre;
}
#t5::before{
    content: "- Formacion Profesional -\A Grado Superior\A Desarrollo de aplicaciones Web\AIES Julio Verne\A Bargas\A";
    white-space: pre;
}
#t6::before{
    content: "- Permiso de conducción -\A Clase B";
    white-space: pre;
}
#t7::before{
    content: "Tengo una buena base en todos los lenguaje que utilizo,\A me manejo con soltura trabajando tanto solo como en grupo.\A\A Mi mayor fuerte seria la parte de Front-End más centrado en HTML y CSS3\A y lo que más me cuesta seria Java pero no descarto nada como opción";
    white-space: pre;
}
#barrasEXP{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family: 'Josefin Sans', sans-serif;
    color: var(--colortexto);
}
.ContenedorEXP{
    width: 7cm;
    height: 20px;
    border: solid .2vw var(--colortexto);
    border-radius: 20px;
    background-color: var(--colortexto);
}
.EXP{
    width: 85%;
    height: inherit;
    border-radius: inherit;
    background-color: var(--colortexto2 );
}
#EXPhtml, #EXPjava, #EXPphp, #EXPbbdd{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
}
#EXPjava .EXP{
    width: 60%;
}
#EXPphp .EXP{
    width: 75%;
}
#EXPbbdd .EXP{
    width: 65%;
}

#idio{
    margin: 15px;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    color: var(--colortexto);
}
